.box {
	display: flex;
	align-items: center;
	justify-content: center;

	&_screen {
		height: 100vh;
		width: 100vw;
	}
	&_container {
		height: 100%;
		width: 100%;
	}
	&_containerw {
		width: 100%;
	}
	&_containerh {
		height: 100%;
	}
}
