@property --angle {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

.button {
	padding: 0.5rem 1rem;

	border-radius: 16px;
	position: relative;

	&:hover {
		&::after,
		&::before {
			position: absolute;

			content: "";
			background-color: #d1b8ff;

			inset: -3px;
			border-radius: 9999px;
			z-index: -1;

			animation: spin linear 1s infinite;
		}

		&::before {
			--opacity: 0.5;
			filter: blur(10px);
		}
	}

	&_fill {
		background-color: #6513ff;
		color: #fff;
	}
	&_outline {
		border: 1px solid #6513ff;
		color: #460db0;
	}
}
