@property --angle {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

@keyframes spin {
	0% {
		--angle: 0deg;
	}
	100% {
		--angle: 360deg;
	}
}

.button {
	padding: 0.5rem 1rem;
	background-color: #6513ff;
	color: #fff;

	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	border-radius: 16px;
	position: relative;

	&:hover {
		&::after,
		&::before {
			position: absolute;

			content: "";
			background-image: conic-gradient(
				from var(--angle),
				#d1b8ff,
				#945aff,
				#d1b8ff
			);

			inset: -3px;
			border-radius: 9999px;
			z-index: -1;

			animation: spin linear 1s infinite;
		}

		&::before {
			--opacity: 0.5;
			filter: blur(10px);
		}
	}
}
