@property --angle {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

@keyframes spin {
	0% {
		--angle: 0deg;
	}
	100% {
		--angle: 360deg;
	}
}

.loading {
	position: relative;
	width: fit-content;

	background-color: #414141;
	color: #fff;
	border-radius: 9999px;

	&::after,
	&::before {
		position: absolute;

		content: "";
		background-image: conic-gradient(
			from var(--angle),
			rgb(0, 255, 149),
			rgb(0, 106, 255),
			rgb(0, 255, 149)
		);

		inset: -3px;
		border-radius: 9999px;
		z-index: -1;

		animation: spin linear 1s infinite;
	}

	&::before {
		--opacity: 0.5;
		filter: blur(10px);
	}

	&_sm {
		font-size: 1rem;
		padding: 0.5rem 1rem;
	}
	&_md {
		font-size: 1.25rem;
		padding: 0.75rem 1.5rem;
	}
	&_lg {
		font-size: 2rem;
		padding: 1rem 2rem;
	}
}
